* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position: relative;
    min-height: 100%;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
main{
    box-sizing: border-box;
    min-height: 100%;
}
.main-content{
    min-height: 100%;
    overflow: hidden;
}

.banner-area {
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.banner-area .logo {
    margin-left: 40px;
}

/* INICIO DO NAVBAR */

.nav-icones{
    padding-top: 3px;
    display: inline-block;
    vertical-align: middle;
}
.nav-texto{
    display: inline-block;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
nav ul li {
    float: left;
    width: auto;
    min-height: 100%;
  }

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav ul li a:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
  }

/* FIM DO NAVBAR */


.flash-msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: calc(var(--vw, 1vw) * 100);
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.flash-msg-error{
    background-color: #edd4d4;
    color: #571515;
    border: 1px solid #e6c3c3;
    width: calc(var(--vw, 1vw) * 100);
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}


footer {
    position: absolute;
    margin-top: 2rem;
    bottom: 0;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}

.footer-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content p{
    margin: 0;
}
/*MOBILE AREA*/


@media only screen and (max-width: 999px) and (orientation: landscape){
    .banner-area .logo {
        margin-left: 0;
    }
    
    footer{
        width: calc(var(--vw, 1vw) * 100);
        bottom: 0;
        text-align: center;
        font-size: 15px;
        height: 10vh;
        top: calc(var(--vw, 1vw) * 100);
    }
}
@media only screen and (max-width: 999px) and (not (orientation: landscape)){
    .banner-area .logo {
        margin-left: 0;
    }    
    body{
        overflow-x: hidden;
        width: 100vw;
    }
    .banner-area {
        display: flex;
        justify-content: center;
        width: calc(var(--vw, 1vw) * 100);
    }
    .navbar{
        justify-content: flex-start;
        width: calc(var(--vw, 1vw) * 100);
        height: 30%;
    }
    #nav-padrao {
        position: absolute;
        top: 5.8vh;
        right: 0;
        width: 50vw;
        height: calc(var(--vh, 1vh) * 90);
        background-color: black;
        display: none;
        transition: transform 0.3s ease-in;
    }
    .nav-link:hover{
        animation: backgroundFade 3s ease forwards 0.1s
    }

    @keyframes backgroundFade {
        from{
            background-color: rgba(255, 255, 255, 0.219);
        }
        to{
            background: none;
        }
    }

    #nav-padrao li{
        margin-left: 0;
        opacity: 0;
    }

    #nav-padrao.active{
        position: absolute;
        margin-right: 50%;
        z-index: 100;
        display: block;
    }

    .nav-item{
        display: block;
        padding-top: 1.2rem;
        height: 3rem !important;
        width: 100%;
    }
    .nav-item:hover{
        background: none;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            display: none;
        }
        to{
            opacity: 1;
            display: flex;
        }
    }
    footer{
        width: calc(var(--vw, 1vw) * 100);
        bottom: 0;
        text-align: center;
        font-size: 15px;
        height: 10vh;
        /* top: calc(var(--vh, 1vh) * 110); */
        top: 100%;
    }

}

@media(max-width: 320px){ 
    .banner-area .logo {
        margin-left: 0;
    }
    
    *{
        font-size: 10px;
    }
}


