body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner-area {
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.banner-area .logo {
    margin-left: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    height: 50px;
    color: white;
}


.navbar ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}

.login-button button{
    background-color: #0187a7;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a{
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    outline: none;
}

/*MOBILE AREA*/

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
}

@media only screen and (max-width: 999px) {
    body{
        overflow-x: hidden;
        width: 100vw;
    }
    .mobile-menu{
        display: block;
    }
    .banner-area {
        display: flex;
        justify-content: center;
        width: calc(var(--vw, 1vw) * 100);
    }
    .navbar{
        width: calc(var(--vw, 1vw) * 100);
    }
    #nav-padrao {
        position: absolute;
        top: 5.8vh;
        right: 0;
        width: 50vw;
        height: calc(var(--vh, 1vh) * 90);
        background-color: black;
        display: none;
        transition: transform 0.3s ease-in;
    }


    #nav-padrao li{
        margin-left: 0;
        opacity: 0;
    }

    #nav-padrao.active{
        position: absolute;
        z-index: 100;
        display: block;
    }

    .nav-item{
        display: block;
        padding-top: 1.2rem;
        width: 100%;
    }

    .nav-link:hover{
        animation: backgroundFade 3s ease forwards 0.1s
    }

    @keyframes backgroundFade {
        from{
            background-color: rgba(255, 255, 255, 0.219);
        }
        to{
            background: none;
        }
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            display: none;
        }
        to{
            opacity: 1;
            display: block;
        }
    }
    footer{
        width: calc(var(--vw, 1vw) * 100);
        text-align: center;
        font-size: 15px;
        height: 10vh;
        top: calc(var(--vh, 1vh) * 100);
    }

}