.container{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}

.btn{
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 20%;
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.308);
}


.conteudo{
    color: white;
    margin-top: 1rem;
    width: 60%;
    min-height: 50vh;
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image-area{
    padding: 10px;
    border-radius: 8px;
    margin: 15px;
    background-color: white;
    min-width: 250px;
    min-width: 250px;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.308);
}

.image-area img{
    max-width: 100%;
}

.buttons{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;

    min-width: 100%;
    min-height: 50px;
    background-color: rgb(41, 41, 41);
    margin-bottom: 10px;
}

.buttons a{
    min-width: 90%;
    margin-bottom: 5px;
    margin-left: 5%;
}

.description-area{
    margin-top: 10px;
    width: 100%;
}

/* MOBILE GENERAL */
@media(max-width: 800px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    width: 100%;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0;
}
.conteudo{
    border-radius: 0;
    min-width: 100vw;
}
.control-area{
    max-width: 50%;
}

.buttons a{
    min-width: 80%;
    max-width: 90%;
    margin-bottom: 5px;
    margin-left: 5%;
}

.image-area{
    min-width: 50%;
}

.image-area img{
    min-width: 50%;
}

}



/* IPAD AIR PORTRAIT */
@media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : portrait) { 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 18px;
    }
    .btn{
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;
        margin: 0;
    }
    .conteudo{
        border-radius: 0;
        min-width: 100vw;
    }
    .control-area{
        max-width: 50%;
    }
    
    .buttons a{
        min-width: 80%;
        max-width: 90%;
        margin-bottom: 5px;
        margin-left: 5%;
    }
    
    .image-area{
        min-width: 50%;
    }
    
    .image-area img{
        min-width: 50%;
    }
}


/* IPAD MINI PORTRAIT */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 22px;
    }
    .btn{
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;
        margin: 0;
    }
    .conteudo{
        border-radius: 0;
        min-width: 100vw;
    }
    .control-area{
        max-width: 50%;
    }
    
    .buttons a{
        min-width: 80%;
        max-width: 90%;
        margin-bottom: 5px;
        margin-left: 5%;
    }
    
    .image-area{
        min-width: 50%;
    }
    
    .image-area img{
        min-width: 50%;
    }
}


/* SURFACE PRO */
@media only screen and (device-width: 912px) and (device-height: 1368px) and (orientation : portrait) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 26px;
    }
    .btn{
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;
        margin: 0;
    }
    .conteudo{
        border-radius: 0;
        min-width: 100vw;
    }
    .control-area{
        max-width: 50%;
    }
    
    .buttons a{
        min-width: 80%;
        max-width: 90%;
        margin-bottom: 5px;
        margin-left: 5%;
    }
    
    .image-area{
        min-width: 50%;
    }
    
    .image-area img{
        min-width: 50%;
    }
}