.titulo{
    text-align: center;
    margin-top: 2rem;
}

#btn-criar{
    background-color: #0062cc;
    border-radius: 7px;
}
#btn-criar:hover{
    background-color: #0b5ed7;
}

.btn{
    position: absolute;
    margin-top: 15px;
    margin-left: 350px;
    height: 30px;
}
.table-area{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    margin-top: 50px;
    border: solid black 1px;
}
table, tr, td, th{
    display: flex;
    justify-content: center;
    align-items: center;
    width:450px;
    padding:0px;
    font-size:20px;
}
td{
    width:150px;
    height:30px;
}
th{
    background-color:#0062cc;
    color:#FFF;
}


@media screen and (max-width: 800px) {
    .btn{
        z-index: 1;
        margin-top: 0.4rem;
        width: 100px;
        height: 40px;
        margin-left: 65vw;
        outline: none;
    }

    #btn-text{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: .3rem;
    }

    table, tr, td, th{
        width:90vw;
        padding:0px;
        font-size:15px;
    }
}