.titulo{
    text-align: center;
    margin-top: 2rem;
}

.container{
    width: calc(var(--vw, 1vw) * 100);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.table-area #btn-criar{
    margin-bottom: .5rem;
    width: 10rem;
    align-self: flex-end;
}

#btn-criar{
    background-color: #0062cc;
    border-radius: 7px;
}
#btn-criar:hover{
    background-color: #0b5ed7;
}

.btn{
    height: 30px;
}


table{
    border: solid black 1px;
}
table, tr, td, th{
    display: flex;
    justify-content: center;
    align-items: center;
    width:550px;
    padding:0px;
    font-size:20px;
}
td{
    width:300px;
    height:30px;
    white-space: nowrap;
    overflow: hidden;
}

.description{
    display: flex;
    justify-content: left;
    text-overflow: ellipsis;
}

.actions ion-icon{
    cursor: pointer;
}
.actions ion-icon:hover{
    cursor: pointer;
    color: #777;
}
th{
    background-color:#0062cc;
    color:#FFF;
}

.paginator{
    height: 50px;
    font-size: 15px;
    margin-top: 1rem;
}


@media screen and (max-width: 800px) {

    table, tr, td, th{
        width:90vw;
        padding:0px;
        font-size:15px;
    }
}

