.titulo{
    text-align: center;
    margin-top: 2rem;
}

#btn-criar{
    background-color: #060;
    border-radius: 7px;
}
#btn-criar:hover{
    background-color: rgb(1, 133, 1);
}

.btn{
    position: absolute;
    margin-top: 15px;
    margin-left: 350px;
}
.table-area{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    margin-top: 50px;
    border: solid black 1px;
}
table, tr, td, th{
    display: flex;
    justify-content: center;
    align-items: center;
    border:#000 solid 1px;
    width:450px;
    padding:0px;
    font-size:20px;
}
td{
    width:150px;
    height:30px;
}
th{
    background-color:#060;
    color:#FFF;
}