.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.table-area {
    margin-top: 4rem;
}

.btn {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
}

.tabela-vendas {
    margin-top: .5rem;
    min-width: 95vw;
    border-bottom: 1px solid black;
}

#table-header {
    color: white;
    background-color: #0062cc;
    height: 2.5rem;
}

#table-header th {
    padding: .5rem;
    text-align: center;
    border: solid 0.5px white;
}

.default-column-value {
    text-align: center;
}

.action-link {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.action-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.541);
}

.action-link ion-icon:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.541);
}


/* ÁREA DA RESPONSIVIDADE */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .container {
        width: 1px;
        height: 100vh;
        font-size: 12px;
        display: flex;
        justify-content: center;
        background-color: aqua;
    }

    .table-area {
        margin-top: 4rem;
    }

    .tabela-vendas {
        margin-top: .5rem;
        border-bottom: 1px solid black;
    }


    #table-header {
        color: white;
        background-color: #0062cc;
        height: 1.5rem;
    }

    #table-header th {
        padding: .5rem;
        text-align: center;
        border: solid 0.5px white;
    }

    body {
        background-color: red;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-color: green;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}