.product-image-area{
    margin-top: 2rem;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.308);
    border-radius: .5rem;
    width: 100%;
    height: 30%;
}
.product-image-area img{
    display: flex;
    align-self: center;
    margin: .5rem;
    width: 30%;
}